*{
    font-family: 'spongeBob3','Courgette', cursive;
  }
  @font-face
  {
  font-family: spongeBob1;
  src: url("../fonts/SomeTimeLater.otf"),
  url("../fonts/SomeTimeLater.otf");
  }
  @font-face
  {
  font-family: spongeBob2;
  src: url("../fonts/BlobSpongeyLowercase.ttf"),
  url("../fonts/BlobSpongeyLowercase.ttf");
  }
  @font-face
  {
  font-family: spongeBob3;
  src: url("../fonts/BobSponge.otf"),
  url("../fonts/BobSponge.otf");
  }
body{    
    min-height: 100%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/krusty-krab.jpg);
}
.navbar{
    min-height: 80px !important;
}
.jumbotron{
    max-width: max-content;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(238,238,238, 0.3)
}
.list-card{
    display: inline-grid;
}
.bottom-image{
    min-height: 100%;
    
}