*{
    font-family: 'Kaushan Script','Courgette', cursive;
  }
body{    
    min-height: 100%;
    text-align: center;
    background-size: cover;
}
.bottom-image{
    min-height: 100%;
    background-image: url(../images/Krusty_Krab_-_5.png);
}